body,
#container{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  background:#000;
}

#content{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#content{
  z-index:1;
}

body.tabbed #content, 
body.show-top-bar #content{
    top:48px;
}

#tabs{
  display:none;
  visibility: hidden;
}

body.tabbed #tabs, 
body.show-top-bar #tabs{
  display:block;
  visibility: visible;
  z-index:2;
}

.tabs{
  overflow-x: hidden;
  background: #000;
  left:0;
  right:0;
  width:100%;
  height:48px;
  position:absolute;
  top:0;
  display:none;
  visibility: hidden;
}
body.tabbed .tabs{
  display:block;
  visibility: visible;
}
body.show-nav #nav{
  display:block;
  visibility: visible;
}

body.show-nav .tabs{
  left: 144px;
}

#nav{
  display:none;
  visibility:hidden;
  background: #000;
  position:absolute;
  height:48px;
  width:144px;
  left:0;
  top:0;
}

#nav ul{
  height:48px;
  width:144px;
}

#nav li, 
#nav a{
  display:block;
  height:48px;
  width:48px;
  margin:0;
  padding:0;
  text-align:center;
  line-height:32px;
}
#tabs a i.material-icons{
  height:48px;
  line-height:48px;
}

#nav a:hover{
  background-color: #222;
  -webkit-transition: background-color 0.5s;
}

#nav li.inactive a{
  color: #333;
}

#nav li.inactive a:hover{
  background-color: #000;
}

.tabs{
  width: auto;
}

.tabs.scroll{
  overflow-x: auto;
}

.tabs .tab{
  float:none;
  position:relative;
  text-transform:none;
}

.tabs .tab a{
    color:rgba(255,255,255,0.7);
}

.tabs .tab .close{
  position: absolute;
  right: 0.5em;
  top: 0;
}

.tabs .tab a.active, .tabs .tab a:hover{
    color:rgba(255,255,255,1.0);
}

.tabs .indicator { display: none; }
.tabs .tab a.active { background: #111; }

#status{
  position: absolute;
  padding: 1em;
  bottom: 0;
  left: 0;
  color: white;
  background: black;
  z-index:4;
}