html body{
    font-family:  'Helvetica', 'Arial', sans-serif;
    background :white;
    color: black;
}

h1, 
h2, 
h3, 
.header{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    color: #017bff
}

#logo{
    width: 24vw;
    margin: 6em 0;
}

/*[type="checkbox"]:checked+label:before{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}*/

.waves-effect.waves-green .waves-ripple {
    background-color: #017bff;
}

.btn.black, 
.btn-large.black, 
.btn.black:hover, 
.btn-large.black:hover, 
.btn-large.black:active{
    background-color: #017bff !important;
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: 1.44px;
}

a{
    color: #017bff;
}

.container{
    padding-top:12vh;
  }
