html body{
    font-family:  'Helvetica', 'Arial', sans-serif; /*'Noto Sans',*/
    background :white;
    color: black;
}

h1, 
h2, 
h3, 
.header{
    font-family: 'Helvetica', 'Arial', sans-serif; /* 'Bree', */
    font-weight: 100;
    color: #45d326
}

ul.sidenav{
    background: none;
    border-right: 1px solid rgba(255,255,255,0.15);
}

ul.sidenav.sidenav-fixed li.logo{
    border-bottom: 1px solid rgba(255,255,255,0.15);
    margin: 0 0 20px 0;
}

#logo-container{
    margin: 47px 0;
}

nav.top-nav{
    height: 152px;
    padding-top: 20px;
}

#front-page-logo{
    max-width:100%;
}

[type="checkbox"]:checked+label:before{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.waves-effect.waves-green .waves-ripple {
    background-color: #45d326;
}

.container .row{
    margin-left:0;
    margin-right:0;
}

.btn, 
.btn-large, 
.btn-small,
.btn:hover, 
.btn-large:hover, 
.btn-small:hover{
    background-color: #45d326;
    box-shadow: none;
    font-family: 'Bree', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.44px;
}

a{
    color: #45d326;
}
