body,#container{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  background:#000;
}
#content, #screensaver, #screensaver-browser{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
#screensaver, #screensaver-browser{
  z-index:3;
  visibility: hidden;

  webview{
    pointer-events: none;
  }

}
#content{
  z-index:1;
}
body.tabbed #content, body.show-top-bar #content{
    top:48px;
}
body.screensaverActive #content{
  visibility: hidden;
}
body.screensaverActive {
  #screensaver, #screensaver-browser{
    visibility: visible;
    display: block;
  }
}

#tabs{
  display:none;
  visibility: hidden;
}

body.tabbed #tabs, body.show-top-bar #tabs{
  display:block;
  visibility: visible;
  z-index:2;
}

.tabs{
  overflow-x: hidden;
  background: #000;
  left:0;
  right:0;
  width:100%;
  height:48px;
  position:absolute;
  top:0;
  display:none;
  visibility: hidden;
}
body.tabbed .tabs{
  display:block;
  visibility: visible;
}
body{

  &.show-nav{

    #nav{
      display:block;
      visibility: visible;
    }

    .tabs{
      left: 144px;
    }

  }

  &.show-battery{

    #battery-status{
      display:block;
      visibility: visible;
    }

    .tabs{
      right:80px;
    }

  }

}

#nav{
  display:none;
  visibility:hidden;
  background: #000;
  position:absolute;
  height:48px;
  width:144px;
  left:0;
  top:0;
}
#nav ul{
  height:48px;
  width:144px;
}
#nav li, #nav a{
  display:block;
  height:48px;
  width:48px;
  margin:0;
  padding:0;
  text-align:center;
  line-height:32px;
}
#tabs a i.material-icons{
  height:48px;
  line-height:48px;
}
#nav a:hover{
  background-color: #222;
  -webkit-transition: background-color 0.5s;
}
#nav li.inactive a{
  color: #333;
}
#nav li.inactive a:hover{
  background-color: #000;
}

.tabs{
  width: auto;
}

.tabs.scroll{
  overflow-x: auto;
}
.tabs .tab{
  float:none;
  position:relative;
  text-transform:none;
}
.tabs .tab a{
    color:rgba(255,255,255,0.7);
}

.tabs .tab .close{
  position: absolute;
  right: 0.5em;
  top: 0;
}

.tabs .tab a.active, .tabs .tab a:hover{
    color:rgba(255,255,255,1.0);
}

.tabs .indicator { display: none; }
.tabs .tab a.active { background: #111; }

#battery-status{
  position:absolute;
  background: #000;
  position:absolute;
  height:48px;
  padding: 0 0 0 15px;
  width: 80px;
  right:0;
  top:0;
  text-align:center;
  color:#fff;
  line-height:48px;
  display: none;
  visibility: hidden;

  .text{
    font-size: 14px;
    float:left;
    display:block;
    text-align:center;
  }

  i{
    height:48px;
    line-height:48px;
    float:left;
    display:block;
  }

}

#newWindow{	
  bottom:10%;	
  left:10%;	
  right:10%;	
  width:80%;	
  height:80%;	
  overflow:hidden;	
}

#screensaverWarningModal{
  .modal-content{
    background: #000;
    text-align: center;
    color: #fff;
  }
}