body,#container{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}

#content{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
body.tabbed #content{
    top:48px;
}
#tabs{
  display:none;
  visibility: hidden;
}
body.tabbed #tabs{
  display:block;
  visibility: visible;
}
.tabs{
  overflow-x: hidden;
  background: #000;
  left:0;
  right:0;
  width:100%;
  height:48px;
  position:absolute;
  top:0;
}
.tabs.scroll{
  overflow-x: auto;
}
.tabs .tab{
  float:none;
}
.tabs .tab a{
    color:rgba(255,255,255,0.7);
}
.tabs .tab a.active, .tabs .tab a:hover{
    color:rgba(255,255,255,1.0);
}
.tabs .indicator {
   background-color: rgb(255,255,255) !important;
}