html body{
    font-family:  'Helvetica', 'Arial', sans-serif; /*'Noto Sans',*/
}
h1, h2, h3, .header{
    font-family: 'Helvetica', 'Arial', sans-serif; /* 'Bree', */
    font-weight: 100;
    color: #45d326
}

ul.sidenav.sidenav-fixed li.logo{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin: 0 0 20px 0;
}

#logo-container{
    margin: 47px 0;
}

nav.top-nav{
    height: 152px;
    padding-top: 20px;
}

#front-page-logo{
    max-width:100%;
}

[type="checkbox"]:checked+label:before{
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active{
    background-color: #45d326;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a{
    font-weight: 800;
}

.waves-effect.waves-green .waves-ripple {
    background-color: #45d326;
}

.container .row{
    margin-left:0;
    margin-right:0;
}

.btn, .btn-large, .btn-small,
.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: #45d326;
    box-shadow: none;
    font-family: 'Bree', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.44px;
}

a{
    color: #45d326;
}

.window-pair{
   > .container {
       padding-top: 120px;
   }
}

.window-error{
    background: #000;
    color: #fff;

    #message{
        position: absolute;
        top: 50%;
        left:0;
        width: 100%;
        text-align:center;
        transform: translateY(-50%);
    }
}